body {
  background-color: #212121;
  font-family: Roboto Mono;
}
.text {
  color: #444444;
  font-family: Roboto Mono;
  font-size: 20px;
}

#game {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 2%;

  background: linear-gradient(-45deg, #ff5e2d, #ff498f, #7bdcff, #2dee47);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#gametitle {
  margin: 2%;
}

#gameboard {
  display: flex;
  flex-direction: column;
}

#scorestat {
  display: flex;
  flex-direction: column;
}

#stats {
  background-color: #000000;
  border-radius: 10px;
  padding: 10%;
  width: 195px;
  margin-top: 10%;
  height: 123px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#output {
  float: left;
  padding: 3%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 2%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  box-shadow: 10px 10px 30px #000000;
}
#score {
  float: left;
  background-color: #000000;
  border-radius: 10px;
  margin-top: 15%;
  padding: 10%;
  height: 400px;
  width: 190px;
}
#scoreboard::-webkit-scrollbar {
  display: none;
}
#scoreboard {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 450px;
  padding: 5%;
  float: left;
  background-color: #000000;
  border-radius: 10px;
}
#instructions {
  float: left;
  padding-left: 13%;
  left: 1.5%;
  bottom: 3%;
  font-size: small;
  line-height: 110%;
}

h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}

#title {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

a:link {
  color: inherit;
}
